/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
}

body {
	margin: 0;
	min-height: 100vh;
	background: #bae2fc;
	font-family: 'Roboto', sans-serif;
}

.gradient {
	background: #fff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #fff, #bae2fc);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #fff, #bae2fc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Smooth scroll */
html {
	scroll-behavior: smooth;
}

/* Layout */
.container {
	max-width: 1310px;
	margin: 0 auto;
}

/* Typography */
.bold {
	font-weight: bold;
}

/* Header */
header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 10px 50px 50px 10px;
	grid-template-areas: 
	". . ."
    "header--user       header--logo       header--icons"
    "header--search-bar header--search-bar header--search-bar"
	". . .";
}

@media (min-width: 800px) {
	header {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 10px 50px 10px;
		grid-template-areas: 
		". . . ."
		"header--logo header--search-bar header--user header--icons"
		". . . .";
	}
}

.header--logo {
	grid-area: header--logo;
}
.header--search-bar {
	grid-area: header--search-bar;
}
.header--user {
	grid-area: header--user;
}
.header--icons {
	grid-area: header--icons;
}

.header--logo img {
	width: 100px;
}

.header--logo,
.header--user,
.header--icons  {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header--search-bar {
	display: flex;
	margin: 0 20px;
	border: solid 5px #edf5fc;
}

.header--search-bar i {
	position: absolute;
	padding: 0.75rem; /* 12px */
	min-width: 40px;
}

.header--search-bar-input,
.header--search-bar-btn {
	font-size: 0.875rem; /* 14px */
	font-family: inherit;
	padding: 0.7em 0.7em;
}

.header--search-bar-input {
	width: 100%;
	padding-left: 2.25em;
	border: none;
}

.header--search-bar-btn {
	background-color: #0094e7;
	color: #fff;
	border: none;
}

.header--search-bar-btn:hover,
.header--search-bar-btn:focus {
	background-color: #0281ca;
	transition: 0.5s;
	cursor: pointer;
}

.header--user {
	gap: 10px;
}

.header--user i {
	color: #20426e;
	background-color: #e0e0e0;
	padding: 10px;
	border-radius: 50%;	
}

.header--user span,
.header--user p {
	margin: 0;
	padding: 0;
	font-size: 0.75rem; /* 12px */
}

.header--icons {
	gap: 5px;
}

.header--icons i {
	font-size: 1.125rem; /* 18 px */
}

.header--icons-interface {
	display: flex;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	padding: 0 10px;
	gap: 5px;
}

.header--icon-cart {
	color: #a4a4a4;
}

.header--icon-cart:hover {
	color: #1e3050;
	transition: 0.5s;
	cursor: pointer;
}

@media (min-width: 800px) {
	.header--logo img {
		width: 160px;
	}
	.header--search-bar {
		margin: 0px;
	}
	.header--icons i {
		font-size: 1.5rem; /* 24 px */
	}
	.header--icons-interface {
		padding: 0 20px;
		gap: 10px;
	}
	.header--icons {
		gap: 10px;
	}
}

/* Subheader */
.subheader {
	min-height: 730px;
	background-color: #f8f8f8;
	padding: 20px;
}

.subheader--main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	justify-content: center;
	gap: 50px;
}

.subheader--main-desc {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.subheader--main-desc h1 {
	font-size: 2rem; /* 32x */
	font-weight: bold;
	margin: 0;
}

.subheader--main-desc p {
	font-size: 1rem; /* 16px */
	font-weight: bold;
	margin: 5px 0 30px;
}

.subheader--main-desc-download {
	display: flex;
	flex-direction: row;
	max-width: 420px;
}

.subheader--main-desc-download img {
	width: 50%;
}

.subheader--main-desc-download-btns {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.subheader--main-desc-download-btns img {
	width: 80%;
	border-radius: 5px;
	margin: 10px 0; 
	margin-left: auto;
}

.subheader--links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.subheader--links div {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #1653A4;
	margin-top: 50px;
}

.subheader--links img {
	width: 80px;
}

@media (min-width: 800px) {
	.subheader {
		padding: 65px;
	}
	.subheader--main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		justify-content: center;
	}
	.subheader--main-desc {
		min-width: 45%;
		align-items: start;
	}
	.subheader--links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.subheader--main-desc h1 {
		font-size: 2.5rem; /* 40px */
	}
	.subheader--main-desc p {
		font-size: 1rem; /* 16px */
	}
}

@media (min-width: 1200px) {
	.subheader--main-desc h1 {
		font-size: 3.125rem; /* 50px */
	}
	.subheader--main-desc p {
		font-size: 1.25rem; /* 20px */
	}
}

/* Section */
section {	
	min-height: 100vh;
	background-color: #faefb1;
	color: #000;
	padding: 20px;
}

section h1 {
	font-size: 2rem; /* 32 px */
	font-weight: 200;
	margin: 0;
}

section h1 span {
	font-weight: bold;
}

section p {
	font-size: 1.25rem; /* 20px */
	font-family: 'Kaushan Script', cursive;	
	opacity: 0;
	color: #6b6363;
}

section ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

section ul li {
	margin: 10px 0;
	font-size: 1rem; /* 16px */
	padding: 30px;
	border-radius: 10px;
	background-color: rgba(255,255, 255, 0.4);
}

.dark ul li {
	background-color: rgba(255,255, 255, 0.2);
}

.light ul li {
	background-color: rgba(255,255, 255, 0.8);
}

.dark p {
	color: #acacac;
}

section ul li i {
	font-size: 50px;
}

section ul li span {
	display: block;
	margin-top: 10px;
	line-height: 1.5;
}

section ul li span strong {
	display: block;
	font-size: 1.1em;
}

.yellow h1,
.yellow ul li i {
	color: #20A39E;
}

.dark h1,
.dark ul li i {
	color: #81fe3e;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dark {
	background-color: #353535;
	color: #fff;
	flex-direction: column-reverse;
}

.light {
	background-color: #f8f8f8	
}

.section--text {
	width: 100%;
}

.section--img {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px 0;
	gap: 40px;
}

.section--text-alzak {
	width: 250px;
}

.img-section-cellphone {
	width: 60%;
}

@media (min-width: 800px) {
	section {
		padding: 65px;
	}
	.content {
		flex-direction: row;
		justify-content: space-evenly;
	}
	.dark {
		flex-direction: row;
	}
	.section--text {
		width: 60%;
	}
	.section--img {
		width: 40%;
	}
	.section--text-alzak {
		width: 400px;
	}
	.img-section-cellphone {
		margin-left: auto;
		margin-right: 0;
	}
	.dark .img-section-cellphone {
		margin-left: 0;
		margin-right: auto;
	}
	section h1 {
		font-size: 2.5rem; /* 40 px */
	}
	section p {
		font-size: 1.375rem; /* 22px */
	}
	section ul li {
		font-size: 1.125rem; /* 18px */
	}
}

@media (min-width: 1200px) {
	section h1 {
		font-size: 3.125rem; /* 50px */
	}
	section p {
		font-size: 1.55rem; /* 25px */
	}
}


/* Text animation */
.anim-li:nth-child(1) {
	animation-delay: 1000ms; 
}
.anim-li:nth-child(2) {
	animation-delay: 1500ms;
}
.anim-li:nth-child(3) {
	animation-delay: 2000ms;
}

.anim1-left {
	animation: anim1-left 500ms forwards ease-out;
	opacity: 0;
}

.anim1-right {
	animation: anim1-right 500ms forwards ease-out;
	opacity: 0;
}

.anim1-down {
	animation: anim1-down 500ms forwards ease-out;
	opacity: 0;
	animation-delay: 500ms;
}

.show {
	opacity: 1;
}

.hidden {
	opacity: 0;
}

@keyframes anim1-left {
	from {
		transform: translateX(-100px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes anim1-right {
	from {
		transform: translateX(100px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes anim1-down {
	from {
		transform: translateY(-100px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}


/* Footer */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
	background-color: #f8f8f8;
	padding: 50px;
}

footer p {
	font-size: 1rem; /* 16px */
}